<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>About</h1>
                <a href="{{ url_for('index') }}">Back to home</a>
                <p>This website is a simple password generator made by Yoan Gabison.</p>
            </div>
        </div>
        <div>
            <p>Libraries Used:</p>
            <ul>
                <li>Flask</li>
                <li>Bootstrap</li>
            </ul>
        </div>
        <div>
            <a href="https://github.com/YoanGab/password_generator">Project Link</a>
        </div>
    </div>
</body>
</html>