<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Password Generator</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <a href="{{ url_for('about') }}">About</a>

        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <h1>Password Generator</h1>
                <form action="" method="post">
                    <div class="form-group">
                        <label for="passwordLength">Length of Password</label>
                        <input type="range" name="passwordLength" id="passwordLength" min="8" max="40" value=16 class="form-control">
                        <span id="passwordLengthDisplay">16</span>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" name="requireNumbers">
                            Include numbers
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" name="requireSymbols">
                            Include symbols
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" name="requireUpperCase">
                            Include Upper Case and Lower Case
                        </label>
                    </div>
                    <button type="submit" class="btn btn-primary">Generate Password</button>
                </form>
            </div>
        </div>
        {% if password %}
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <div class="alert alert-success">
                        {{ password }}
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
</body>
</html>

<script>
    document.getElementById('passwordLength').addEventListener('input', function () {
        document.getElementById('passwordLengthDisplay').innerHTML = this.value;
    });
</script>